<div
  class={{class-names
    "euiRangeHighlight"
    (if @showTicks "euiRangeHighlight--hasTicks")
    (if @compressed "euiRangeHighlight--compressed")
  }}
  ...attributes
>
  <div
    class="euiRangeHighlight__progress {{if @hasFocus "euiRangeHighlight__progress--hasFocus"}}"
    {{simple-style
      (inline-styles
        componentName="EuiRangeHighlight"
        componentArgs=(hash lowerValue=@lowerValue min=@min max=@max upperValue=@upperValue)
      )
    }}
  ></div>
</div>