{{#let
  (use-state (get-tab-id @selectedTab))
  as |selectedTab|
}}
  <div
    role="tablist"
    class={{class-names
      (if (arg-or-default @expand false) "euiTabs--expand")
      @className
      componentName="EuiTabs"
      display=(arg-or-default @display "default")
      size=(arg-or-default @size "m")
    }}
    ...attributes
  >
    {{yield (component "eui-tab"
      onClick=selectedTab.setState
      selectedTabId=selectedTab.value
      focusFn=selectedTab.setState
    )}}
  </div>
{{/let}}
