/* This is to avoid bumping elastic eui styles to 3.2.x , delete when possible. */
.euiAvatar {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  overflow-x: hidden;
  font-weight: 500;
}

.euiMarkdownEditor--fullHeight {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.euiMarkdownEditor--isPreviewing .euiMarkdownEditor__toggleContainer {
  display: none;
}