<div
  class={{class-names
    (if (not-eq @hasShadow false) "euiPanel--shadow")
    (if (eq @grow false) "euiPanel--flexGrowZero")
    componentName="EuiPanel"
    padding=(arg-or-default @paddingSize "m")
    borderRadius=(arg-or-default @borderRadius "m")
    color=(arg-or-default @color "plain")
  }}
  ...attributes
>
  {{yield}}
</div>