<EuiPageHeader>
  <EuiPageHeaderSection>
    <EuiTitle @size="l">
      <h1>
        Avatar
      </h1>
    </EuiTitle>
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiPageContentBody>

    <EuiAvatar @size="s" @name="Raphael" />
    &emsp;
    <EuiAvatar @size="m" @name="Donatello" />
    &emsp;
    <EuiAvatar @size="l" @name="Leonardo" color="#BD10E0" />
    &emsp;
    <EuiAvatar @size="xl" @name="Michelangelo" />
    <EuiSpacer />
    <EuiAvatar
      @size="s"
      @name="Cat"
      @imageUrl="https://source.unsplash.com/64x64/?cat"
    />
     &emsp;
    <EuiAvatar
      @size="m"
      @name="Cat"
      @imageUrl="https://source.unsplash.com/64x64/?cat"
    />
    &emsp;
    <EuiAvatar
      @size="l"
      @name="Cat"
      @imageUrl="https://source.unsplash.com/64x64/?cat"
    />
    &emsp;
    <EuiAvatar
      @size="xl"
      @name="Cat"
      @imageUrl="https://source.unsplash.com/64x64/?cat"
    />
    <EuiSpacer />

    <EuiAvatar @size="m" @name="Single" />
    &emsp;
    <EuiAvatar @size="m" @name="Two Words" />
    &emsp;
    <EuiAvatar @size="m" @name="More Than Two Words" />
    &emsp;
    <EuiAvatar @size="m" @name="lowercase words" />
    <EuiSpacer />
    <EuiTitle @size="xs">
      <h4>Custom &amp; Spaces type</h4>
    </EuiTitle>
    <EuiSpacer />
    <EuiAvatar @size="m" @type="space" @name="Kibana" initialsLength={{2}} />
    &emsp;
    <EuiAvatar @size="m" @type="space" @name="Leonardo Dude" initialsLength={{1}} />
    &emsp;
    <EuiAvatar @size="m" @type="space" @name="Not provided" initials="?" />
    &emsp;
    <EuiAvatar
      @size="m"
      @type="space"
      @name="Engineering Space"
      @initials="En"
      @initialsLength={{2}}
    />

  </EuiPageContentBody>
</EuiPageContent>