<EuiPageHeader>
  <EuiPageHeaderSection>
    <EuiTitle @size="l">
      <h1>
        Badge
      </h1>
    </EuiTitle>
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiPageContentBody>

    <EuiTitle>
      Notification Badge
    </EuiTitle>
    <EuiBadgeNotification>1</EuiBadgeNotification>
    <EuiBadgeNotification>2</EuiBadgeNotification>
    <EuiBadgeNotification>3</EuiBadgeNotification>
    <EuiBadgeNotification @color="subdued">4</EuiBadgeNotification>
    <EuiBadgeNotification @size="m">5</EuiBadgeNotification>
    <EuiSpacer />

    <EuiTitle>
      Beta Badge
    </EuiTitle>



  </EuiPageContentBody>
</EuiPageContent>