<EuiPageHeader>
  <EuiPageHeaderSection>
    <EuiTitle @size="l">
      <h1>
        Badge
      </h1>
    </EuiTitle>
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiPageContentBody>
    <EuiTitle @tag="h2" @size="m">
      Badge
    </EuiTitle>

    <EuiSpacer />
    <EuiTitle @tag="h2" @size="m">
      Notification Badge
    </EuiTitle>
    <EuiBadgeNotification>1</EuiBadgeNotification>
    <EuiBadgeNotification>2</EuiBadgeNotification>
    <EuiBadgeNotification>3</EuiBadgeNotification>
    <EuiBadgeNotification @color="subdued">4</EuiBadgeNotification>
    <EuiBadgeNotification @size="m">5</EuiBadgeNotification>
    <EuiSpacer />

    <EuiTitle @size="m">
      Beta Badge
      <EuiBetaBadge
        @label="Beta"
        @title="Philly"
      />
    </EuiTitle>
    <EuiBetaBadge
      @label="Pill"
      @title="Philly"
    />
    <EuiBetaBadge
      @label="Lab"
      @title="Coat"
      @iconType="beaker"
    />

    <EuiSpacer />
    <EuiTitle @tag="h2" @size="m">
      Badge Group
    </EuiTitle>
    <EuiPanel style="max-width: 200px;">
      <EuiBadgeGroup @gutterSize="s" as |Group|>
        <Group.item><p>Item 1</p></Group.item>
        <Group.item><p>Item 2</p></Group.item>
        <Group.item><p>Item 2</p></Group.item>
      </EuiBadgeGroup>
    </EuiPanel>

  </EuiPageContentBody>
</EuiPageContent>