<EuiPageHeader>
  <EuiPageHeaderSection>
    <EuiTitle @size="l">
      <h1>
        Eui Callout
      </h1>
    </EuiTitle>
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiPageContentBody>

    <EuiText size="xs"><p>Default Small callout H3</p></EuiText>
    <EuiCallOut @iconType="searchProfilerApp" @title="Good status" @heading="h3" @color="primary" @size="s">
      <p>
        All systems check, you are good to go. Good luck!
      </p>
    </EuiCallOut>
    <EuiSpacer />

    <EuiText size="xs"><p>Warning Medium callout H3</p></EuiText>
    <EuiCallOut @iconType="alert" @title="INCOMING!" @heading="h3" @color="warning">
      <p>
        You have an homing rocket coming your way! Take evasive action!
      </p>
    </EuiCallOut>
    <EuiSpacer />

    <EuiText size="xs"><p>Danger Medium callout H1</p></EuiText>
    <EuiCallOut @iconType="wrench" @title="Watch out! Danger close!" @heading="h1" @color="danger" @size="m">
      <p>
        You have been hit! Seek the repair ship immediately!
      </p>
    </EuiCallOut>
    <EuiSpacer />

    <EuiText size="xs"><p>Success Medium callout H3</p></EuiText>
    <EuiCallOut @iconType="bullseye" @title="Great, you're ready for deployment!" @heading="h3" @color="success" @size="m">
      <p>
        Your ship has been repaired, you are good to launch again. Next time evade those missiles!
      </p>
    </EuiCallOut>
    <EuiSpacer />

    <EuiText size="xs"><p>Default Callout without block</p></EuiText>
    <EuiCallOut @iconType="grid" @title="This is a Callout without block!" @size="m" />
    <EuiSpacer />

    <EuiText size="xs"><p>Default Callout H3 without block or icon</p></EuiText>
    <EuiCallOut @title="This is a Callout without block or Icon!" @heading="h3"  @size="m" />

  </EuiPageContentBody>
</EuiPageContent>