<EuiPageHeader>
  <EuiPageHeaderSection>
    <EuiTitle @size="l">
      <h1>
        Collapsible Nav
      </h1>
    </EuiTitle>
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiPageContentBody>

    <EuiTitle @size="s">
      Collapsible Nav Group
    </EuiTitle>
    <EuiSpacer />
    <EuiCollapsibleNavGroup>
      <:content>
        BASIC WITH NOTHING
      </:content>
    </EuiCollapsibleNavGroup>
    <EuiCollapsibleNavGroup @iconType="alert" @background="light">
      <:title>
        Hello My friends!
      </:title>
      <:content>
        This is not collapsible! But the bottom one is!
      </:content>
    </EuiCollapsibleNavGroup>
    <EuiCollapsibleNavGroup @iconType="alert" @background="dark" @initialIsOpen={{false}} @isCollapsible={{true}}>
      <:title>
        Click me!!
      </:title>
      <:content>
        This is the collapsible content!!!
      </:content>
    </EuiCollapsibleNavGroup>

  </EuiPageContentBody>
</EuiPageContent>