<EuiPageHeader>
  <EuiPageHeaderSection>
    <EuiTitle @size="l">
      <h1>
        Health
      </h1>
    </EuiTitle>
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiPageContentBody>
    <EuiHealth @color="subdued">Inactive</EuiHealth>

    <EuiSpacer />

    <EuiHealth @color="primary">Active</EuiHealth>

    <EuiSpacer />

    <EuiHealth @color="success">Healthy</EuiHealth>

    <EuiSpacer />

    <EuiHealth @color="warning">Warning</EuiHealth>

    <EuiSpacer />

    <EuiHealth @color="danger">Failure</EuiHealth>

    <EuiSpacer />

    <EuiHealth @color="#000000">Custom color as hex</EuiHealth>

    <EuiSpacer />

    <EuiHealth >No color</EuiHealth>

  </EuiPageContentBody>
</EuiPageContent>