<EuiPageHeader>
  <EuiPageHeaderSection>
    <EuiTitle @size="l">
      <h1>
        Horizontal Rule
      </h1>
    </EuiTitle>
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiPageContentBody>

    <EuiTitle @size="l">
      Size
    </EuiTitle>
    <EuiText @size="s"><p>quarter</p></EuiText>
    <EuiHorizontalRule @size="quarter" />
    <EuiText @size="s"><p>half</p></EuiText>
    <EuiHorizontalRule @size="half" />
    <EuiText @size="s"><p>full (default)</p></EuiText>
    <EuiHorizontalRule @size="full" />

    <EuiTitle @size="l">
      Margin
    </EuiTitle>
    <EuiText @size="s"><p>none</p></EuiText>
    <EuiHorizontalRule @margin="none" />
    <EuiText @size="s"><p>xs</p></EuiText>
    <EuiHorizontalRule @margin="xs" />
    <EuiText @size="s"><p>s</p></EuiText>
    <EuiHorizontalRule @margin="s" />
    <EuiText @size="s"><p>m</p></EuiText>
    <EuiHorizontalRule @margin="m" />
    <EuiText @size="s"><p>l (default)</p></EuiText>
    <EuiHorizontalRule @margin="l" />
    <EuiText @size="s"><p>xl</p></EuiText>
    <EuiHorizontalRule @margin="xl" />
    <EuiText @size="s"><p>xxl</p></EuiText>
    <EuiHorizontalRule @margin="xxl" />

  </EuiPageContentBody>
</EuiPageContent>