<EuiPageHeader>
  <EuiPageHeaderSection>
    <EuiTitle @size="l">
      <h1>
        Image
      </h1>
    </EuiTitle>
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiPageContentBody>
    <EuiImage
      @url="https://picsum.photos/700/400"
      @alt="random"
      @size="l"
      @caption="THE GREATEST"
      @hasShadow={{true}}
      @allowFullScreen={{true}}
      @fullScreenIconColor="light"
    />
  </EuiPageContentBody>
</EuiPageContent>