<EuiPageHeader>
  <EuiPageHeaderSection>
    <EuiTitle @size="l">
      <h1>
        Loading
      </h1>
    </EuiTitle>
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiPageContentBody>
    <EuiTitle size="l">
      Spinner
    </EuiTitle>
    <EuiLoadingSpinner id={{unique-id}} />
    <EuiLoadingSpinner id={{unique-id}} @size="xl" />
    <EuiSpacer />
    <EuiTitle size="l">
      Text Content
    </EuiTitle>
    <EuiLoadingContent @lines={{4}} />
  </EuiPageContentBody>
</EuiPageContent>