<EuiPageHeader>
  <EuiPageHeaderSection>
    <EuiTitle @size="l">
      <h1>
        Overlay Mask
      </h1>
    </EuiTitle>
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiPageContentBody>
    <button type="button" {{on "click" (set this.toggleEuiOverlay true)}}>
      <EuiText @color="accent" @size="xl">
        Click here to test Overlay
      </EuiText>
    </button>
    {{#if this.toggleEuiOverlay}}
      <EuiOverlayMask
        @headerZindexLocation="above"
        @onClick={{set this.toggleEuiOverlay false}}
      >
        This is a plain overlay!!
      </EuiOverlayMask>
    {{/if}}
  </EuiPageContentBody>
</EuiPageContent>