<EuiPageHeader>
  <EuiPageHeaderSection>
    <EuiTitle @size="l">
      <h1>
        Eui Callout
      </h1>
    </EuiTitle>
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiFlexGroup @gutterSize="xl">
    <EuiFlexItem>
      <EuiPanel @borderRadius="none" @color="danger">
        HOLA OGA
      </EuiPanel>

    </EuiFlexItem>
  </EuiFlexGroup>

</EuiPageContent>