{{! TODO: restrictWidth Prop}}
<div class="euiPageBody" ...attributes>
  {{yield
    (hash
      Header=(component "eui-page/eui-page-body/eui-page-header")
      Content=(component "eui-page/eui-page-body/eui-page-content")
    )
  }}
</div>