<EuiPageHeader>
  <EuiPageHeaderSection>
    Loading
  </EuiPageHeaderSection>
</EuiPageHeader>
<EuiPageContent>
  <EuiPageContentBody>
    <EuiPageContentHeader>
      <EuiPageContentHeaderSection>
        <h1>
          Spinner
        </h1>
      </EuiPageContentHeaderSection>
    </EuiPageContentHeader>
    <EuiLoadingSpinner id={{unique-id}} />
    <EuiLoadingSpinner id={{unique-id}} @size="xl" />
  </EuiPageContentBody>
</EuiPageContent>