@import 'ember-eui';

.code-block {
  font-size: 12px;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  line-height: 16px;

  .component-tag {
    color: rgb(0, 189, 72);
  }

  .html-tag {
    color: rgb(0, 110, 255);
  }

  .string {
    color: rgb(172, 119, 70);
  }

  .prop {
    color: rgb(113, 175, 255);
  }
}