<div
  class="euiCard euiCard--paddingMedium euiCard--centerAligned euiCard--isClickable euiCard--hasIcon"
>
  <div class="euiCard__top">
    <EuiIcon @type="logoGolang" @size="xxl"/>
  </div>
  <div class="euiCard__content">
    <span
      class="euiTitle euiTitle--small euiCard__title"
      id="id6432d61-f2c4-11ea-b18a-811028e88c64Title"
    >
      <button
        class="euiCard__titleButton"
        aria-describedby="id6432d61-f2c4-11ea-b18a-811028e88c64Description"
      >
        Elastic Beats
      </button>
    </span>
    <div
      class="euiText euiText--small euiCard__description"
      id="id6432d61-f2c4-11ea-b18a-811028e88c64Description"
    >
      <p>
        Example of a card's description. Stick to one or two sentences.
      </p>
    </div>
  </div>
</div>