<span class="euiLoadingContent" ...attributes>
  {{#each (repeat @lines)}}
    <span class="euiLoadingContent__singleLine">
      <span class="euiLoadingContent__singleLineBackground" />
    </span>
  {{/each}}
</span>