html {
  scroll-behavior: smooth;
}

body.euiBody--headerIsFixed {
  padding-top: 49px;
  .euiFlyout,
  .euiCollapsibleNav {
    top: 49px;
    height: calc(100% - 49px);
  }
}

#examples {
  display: none;
}

.guideDemo__textLines {
  background-image: linear-gradient(
    rgba(0, 119, 204, 0.1) 1px,
    transparent 1px
  );
  background-size: 100% 12px;
  background-position-y: -1px;
}

.euiPanel--restrictWidth-custom {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.guideSideNav__content {
  padding: 0 24px 24px;
}

.guideSideNav__content::-webkit-scrollbar-corner,
.guideSideNav__content::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.guideSideNav__search {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  padding: 8px 8px 16px;
}

.guideSideNav {
  background: linear-gradient(
      160deg,
      rgba(211, 218, 230, 0.3) 0,
      rgba(211, 218, 230, 0.3) 32px,
      rgba(255, 0, 0, 0) 0
    ),
    linear-gradient(
      175deg,
      rgba(211, 218, 230, 0.3) 0,
      rgba(211, 218, 230, 0.3) 16px,
      rgba(255, 0, 0, 0) 0
    );
}

.euiBody--headerIsFixed #guide {
  min-height: calc(100vh - 48px);
}
#guide {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
}

html {
  font-family: Inter, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.14286;
  font-weight: 400;
  text-size-adjust: 100%;
  font-kerning: normal;
  height: 100%;
  background-color: rgb(248, 250, 253);
  color: rgb(52, 55, 65);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .euiBody--headerIsFixed .euiPageSideBar--sticky {
    max-height: calc(100vh - 48px);
    top: 48px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .euiBody--headerIsFixed .euiPageSideBar--sticky {
    max-height: calc(100vh - 48px);
    top: 48px;
  }
}
@media only screen and (min-width: 1200px) {
  .euiBody--headerIsFixed .euiPageSideBar--sticky {
    max-height: calc(100vh - 48px);
    top: 48px;
  }
}

.pageBodyShadow {
  box-shadow: rgb(0 0 0 / 8%) 0px 0.9px 4px, rgb(0 0 0 / 6%) 0px 2.6px 8px,
    rgb(0 0 0 / 5%) 0px 5.7px 12px, rgb(0 0 0 / 4%) 0px 15px 15px;
}
/* Elastic UI docs specific */

.docfy-demo__description {
  padding: 24px;
}

.docfy-demo {
  padding-inline: 24px;
}

.guideSectionTabs {
  padding: 4px 12px;
}

.guideSectionTabs--open {
  padding-bottom: 0px;
}

@media only screen and (max-width: 574px) {
  .guideSideNav__content {
    padding: 0;
    border-top: 1px solid #d3dae6;
  }
  .guideSideNav__search {
    padding: 8px;
  }
  .guideSideNav {
    width: 100%;
  }
}

.guideSection + .guideSection {
  margin-top: 32px;
}

.guideSectionExampleCode__link {
  text-align: right;
  padding-top: 8px;
  padding-bottom: 8px;
}
p > p:last-child {
  margin: 0px;
}

.docfy-demo__description__header__edit-url {
  margin-bottom: 10px;
  float: right;
  display: inline-block;
}

a span.icon-link:hover {
}
div.docfy-demo__description__header > h2 > a > span {
  /* content: '#'; */
}

button {
  font-family: Inter, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
}

.guideSectionTabs__tab > * {
  font-weight: 500 !important;
}

.text-white {
  color: white;
}

.flex-demo .euiFlexItem {
  padding: 16px;
  background: rgba(27, 169, 245, 0.1);
}

.guideDemo__highlightSpacer .euiCode {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  margin-bottom: 16px;
}
.guideDemo__highlightSpacer .euiSpacer {
  background: rgba(27, 169, 245, 0.1);
}

.docfy-demo__description__content > * {
  margin-bottom: 24px;
}

.horizontal-rule-demo > div {
  background: rgba(0, 119, 204, 0.1);
  padding: 0.1px;
  margin-bottom: 16px;
}
.h-full {
  height: 100%;
}
