<div
  class={{class-names
    (unless @grow "euiText--constrainedWidth")
    componentName="EuiText"
    size=(arg-or-default @size "m")
  }}
  ...attributes
>
  {{#let (if @textAlign (component "eui-text-align") (element "")) as |Align|}}
    {{#let (if @color (component "eui-text-color") (element "")) as |Color|}}
      <Align @textAlign={{@textAlign}}>
        <Color @color={{@color}} @tagName="div">
          {{yield}}
        </Color>
      </Align>
    {{/let}}
  {{/let}}
</div>