<div class={{concat "euiPageHeader " (if @responsive "euiPageHeader--responsive")}} ...attributes>
  {{yield (hash
    section=(component "eui-page/eui-page-body/eui-page-header/section")
  )}}
</div>