<button
  class={{class-names "euiFormControlLayoutClearButton" size=@size}}
  type="button"
  aria-label={{@label}}
  ...attributes
  {{on "click" @onClick}}
>
  <EuiIcon class="euiFormControlLayoutClearButton__icon" @type="cross" />
</button>