<EuiCard />
<EuiCard />

<EuiLoadingSpinner id={{unique-id}} />
<EuiLoadingSpinner id={{unique-id}} @size="xl" />

<div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Primary</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Secondary</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Warning</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Danger</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton-isDisabled" disabled=""
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Disabled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--fill euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton--fill euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
</div>

<div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Primary</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Secondary</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--secondary euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Warning</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--warning euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Danger</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--fill" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--small" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--danger euiButton--small euiButton--fill"
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
  <div class="euiFlexGroup euiFlexGroup--gutterSmall euiFlexGroup--alignItemsCenter euiFlexGroup--directionRow euiFlexGroup--responsive">
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton-isDisabled" disabled=""
      type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Disabled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--fill euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Filled</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small</span>
        </span>
      </button>
    </div>
    <div class="euiFlexItem euiFlexItem--flexGrowZero">
      <button class="euiButton euiButton--primary euiButton--small euiButton--fill euiButton-isDisabled"
      disabled="" type="button">
        <span class="euiButtonContent euiButton__content">
          <span class="euiButton__text">Small and filled</span>
        </span>
      </button>
    </div>
  </div>
</div>
