<div
  class={{class-names
    "euiPageContentHeader"
    (if @responsive "euiPageContentHeader--responsive")
  }}
  ...attributes
>
  {{yield
    (hash
      Section=(component
        "eui-page-content-header-section"
      )
    )
  }}
</div>