{{#in-element
  this.destinationElement
  insertBefore=null
}}
  <div
    role="button"
    class={{class-names
      "euiOverlayMask"
      (unless
        (eq @headerZindexLocation "below")
        "euiOverlayMask--aboveHeader"
        "euiOverlayMask--belowHeader"
      )
    }}
    {{on "click" (optional @onClick)}}
  >
    {{yield}}
  </div>
{{/in-element}}