<div class="euiFlyoutBody">
  <div
    class={{class-names
      "euiFlyoutBody__overflow"
      (if @hasBanner "euiFlyoutBody__overflow--hasBanner")
    }}
  >
    {{yield
      (hash
        banner=(component "eui-flyout-body/banner")
        content=(component "eui-flyout-body/content")
      )
    }}
  </div>
</div>